<!DOCTYPE html>
<html>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>-->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<!-- <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> -->
<body>

 <div id="Timeline" style="width:100%;max-width:1400px;height:800px"></div> 
<script type="text/javascript">


function drawChart(){
var list1 = {{data | tojson}};

console.log(list1)

// console.log( json.stringify(list1));
// list1 = JSON.stringify(list1)
var obj = JSON.parse(list1);
obj = sort_by_key(obj, 'date');


console.log(obj)
	var container = document.getElementById('Timeline');
	var chart = new google.visualization.Timeline(container);
    var dataTable = new google.visualization.DataTable();
	dataTable.addColumn('string', 'Sender');
	dataTable.addColumn('string', 'Subject');
	dataTable.addColumn('date', 'Date');
	dataTable.addColumn('date', 'Date1');

	for (var i = 0; i < obj.length; i++) {
	console.log(obj[i]['subject'],new Date(obj[i]['date']))
	dataTable.addRow( new Array(obj[i]['sender'],obj[i]['subject'], new Date(obj[i]['sent_datetime']), new Date(obj[i]['sent_datetime']) ));
	}
    // var obj = JSON.parse();

    var chart_options;
    chart_options = {
      width: 1000,
      height: 800,
      redFrom: 90,
      redTo: 100,
      yellowFrom: 75,
      yellowTo: 90,
      minorTicks: 5,
	  hAxis: { format:'MM-dd HH:mm'} 
    
    };
	
	console.log(dataTable)

       chart.draw(dataTable, chart_options);
      

  }


function sort_by_key(array, key)
{
 return array.sort(function(a, b)
 {
  var x = a[key]; var y = b[key];
  return ((x < y) ? -1 : ((x > y) ? 1 : 0));
 });
}
console.log('chart render')
google.charts.load("visualization", { packages: ["timeline"] });

google.charts.setOnLoadCallback(drawChart);

</script>

</body>
</html>
