<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <link rel="stylesheet" href="doop.css">
</head>

<body>
    <div class="box">

        <form action="#">
            <div class="form-box">
                <input type="text" name="email" placeholder="ENTER YOUR EMAIL">
                <button type="submit">TAP HERE</button>
            </div>
        </form>
</body>

</html>