<!doctype html>
<html>
<head>
<link rel="stylesheet" href="/static/styles.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
body {
	background:#00BCD4;
	background-size: cover;
	font-family: 'Open Sans', sans-serif;
	background-attachment: fixed;
    background-position: center;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Montserrat', sans-serif;

}
h1{
	color:#fff;
	font-size:45px;
	text-align:center;
	margin-top:50px;
}
.agile-its{
	width:35%;
	margin:50px auto;
	background:#fff;

}
h2{
	color:#fff;
	background: #f3c500;
	padding:10px 0;
	text-align:center;
	font-size:20px;
}
</style>
<title>Glance Email</title>
  <center><img src="../static/glance_logo2-4-3.png" alt="logo" width="600" height="500"/></center>

</head>
<body>
    <center><form method=post enctype=multipart/form-data>
      <p>
    <input id="email-input" type="text" name=email >         <input type=submit value=Submit >


	  <div class="image-upload">

    </label>


	</div>
	<br>
	<br>
    <h2></h2>
</center>
<p>
<br>

<a href="mailto:selva.prakash@gmail.com?" target="_top" text-align="right">Contact Us</a>
</p>
</body>
</html>